/* --------------------------------

Pulse 1.0.0
Copyright 2016, Jamie Curd
https://github.com/jamiecurd/pulse
color CSS src File

-------------------------------- */

/*Black*/
.black {
  background-color: #000 !important;
}

.black-text {
  color: #000 !important;
}

/*White*/
.white {
  background-color: #fff !important;
}

.white-text {
  color: #fff !important;
}

/*Grey*/
.grey {
  background-color: #4A4A4A !important;
}

.grey-text {
  color: #4A4A4A !important;
}

/*Red*/
.red {
  background-color: #ff3300 !important;
}

.red-text {
  color: #ff3300 !important;
}

.darkred {
  background-color: #e60000 !important;
}

.darkred-text {
  color: #e60000 !important;
}

/*Green*/
.green {
  background-color: #8bea7d !important;
}

.green-text {
  color: #8bea7d !important;
}

.darkgreen {
  background-color: #2eb82e !important;
}

.darkgreen-text {
  color: #2eb82e !important;
}

/*Blue*/
.blue {
  background-color: #4dd2ff !important;
}

.blue-text {
  color: #4dd2ff !important;
}

.darkblue {
  background-color: #0099cc !important;
}

.darkblue-text {
  color: #0099cc !important;
}
