/* --------------------------------

Pulse 1.0.0
Copyright 2016, Jamie Curd
https://github.com/jamiecurd/pulse
misc CSS src File

-------------------------------- */

/*Blockquote*/
blockquote {
  margin: 20px 0;
  padding-left: 1.5em;
  border-left: 7px solid #33adff;
}

/*Responsive Images*/
.resimg {
    max-width: 100%;
    height: auto;
    display: block;
}

/*Floating*/
.float-left {
  float: left;
}

.float-right {
  float: right;
}

/*Text Align*/
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

/*Centerd Objects*/
.centered {
  display:block;
  float:none;
  margin-right:auto;
  margin-left:auto
}
