/* --------------------------------

Pulse 1.0.0
Copyright 2016, Jamie Curd
https://github.com/jamiecurd/pulse
typography CSS src File

-------------------------------- */

/*Importing font from Google*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*Setting default text weight and font*/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-bottom: 0em;
}

/*Individual sizing for fonts*/
h1 {
  font-size: 3.8em;
  line-height: 1.2;
}

h2 {
  font-size: 3.4em;
  line-height: 1.25;
}

h3 {
  font-size: 2.8em;
  line-height: 1.3;
}

h4 {
  font-size: 2.2em;
  line-height: 1.35;
  letter-spacing: -.08em;
}

h5 {
  font-size: 1.6em;
  line-height: 1.5;
  letter-spacing: -.05em;
}

h6 {
  font-size: 1.3em;
  line-height: 1.6;
  letter-spacing: 0;
}

/*Making text resize for smaller screens*/
@media (min-width: 600px) {
  h1 {
    font-size: 4.6em;
  }
  h2 {
    font-size: 3.8em;
  }
  h3 {
    font-size: 3.2em;
  }
  h4 {
    font-size: 2.6em;
  }
  h5 {
    font-size: 2.0em;
  }
  h6 {
    font-size: 1.1em;
  }
}

/*Change link styles*/
a {
  color: #33adff;
  text-decoration: none;
}
